
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(../fonts/Dosis/SHQzTQBI7152hSrIuGUiVBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(../fonts/Dosis/7aJzV14HzAOiwNTiPgucGfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(../fonts/Dosis/RlBXAIuiO5GvH9-0-JbBlw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(../fonts/Dosis/4hYyXH_8WmbBLamf6WjLwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(../fonts/Dosis/NI3uVO_o2Ursx6Z1Lyy3oRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(../fonts/Dosis/mAcLJWdPWDNiDJwJvcWKc_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local('Dosis Bold'), local('Dosis-Bold'), url(../fonts/Dosis/fP7ud4UTUWGxo-nV1joC1RTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local('Dosis Bold'), local('Dosis-Bold'), url(../fonts/Dosis/22aDRG5X9l7obljtz7tihvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
html,body { height: 100%; margin: 0px; padding: 0px; }

body {
	font-family: 'Dosis', sans-serif;
  font-size: 13px;
}

.dataTable td {
	padding: 5px !important;
	margin: 5px !important;
}

.dataTable th {
	padding: 5px 8px !important;
	font-size: 14px !important;
	font-weight: 600 !important;
	color: #7a7a7a !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #66615b;
	border-color: #66615b;
}

.pagination>li>a, .pagination>li>span {
	color: #66615b;
}

.form-control {
	background-color: #f7f7f7;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
}

.btn {
	text-transform: uppercase;
}

label {
	font-weight: 500;
	margin-bottom: 0;
}

label:before {
	content: " ";
	font-size: 20px;
	top: 0px;
	width: 10px;
	display: inline-block;
	line-height: 1px;
	position: relative;
}

label.required:before {
	content: "*";
	font-size: 20px;
	top: 0px;
	line-height: 1px;
	color: #EB5E28;
	position: relative;
}

label.not_required:before {
  display: none;
}

.label_error {
	display: block;
	color: #8d8d8d;
	font-style: italic;
	font-size: 11px;
}

#loader {
	display: none;
	background-color: rgba(0,0,0, 0.2);
	filter: blur(50px);
}

.disabled {
	pointer-events: none;
	background-color: #E3E3E3;
	cursor: not-allowed;
	color: #9A9A9A;
}

.has_childs ul {
	/*background-color: #282828;*/
	display: none;
}

.sidebar .sidebar-wrapper {
	/*width: 201px;*/
}

.blockLoader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
	background-color: rgba(199, 199, 199, 0.44);
	color: #f1f1f1;
	font-size: 20px;
	font-weight: 700;
	align-items: center;
	border-radius: 6px;
}

.spinner {
	margin: 0 auto;
	width: 50px;
	height: 60px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #EB5E28;
	height: 100%;
	width: 6px;
	margin: 1px;
	display: inline-block;

	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
		}  20% {
			transform: scaleY(1.0);
			-webkit-transform: scaleY(1.0);
		}
	}

.buttons-html5,
.buttons-print {
	margin-right: 3px;
}
/*
.select2-container {
	width: 100% !important;
}

.select2-container .select2-selection--single {
	height: 54px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 51px !important;
	font-size: 31px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 51px !important;
}*/

.dt-buttons {
	float: right !important;
}

.form-control {
	padding: 7px;
  font-size: 12px;
}

.select2-container {
    display: block !important;
    /*width: 100% !important;*/
}

/*.select2-container--default {
  width: 100% !important;
}*/

.select2-container--default .select2-selection--single {
    background-color: #f7f7f7 !important;
    border: 1px solid #e5e5e5 !important;
    border-radius: 1px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px !important;
}

.select2-container .select2-selection--single {
    height: 40px !important;
}

select.input-sm {
    padding: 3px;
}

.card label {
    font-size: 13px !important;
}

.no-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.toggleDetails {
  cursor: pointer;
}

.fa-action-help {
  cursor: help;
}

.modal~.modal {
  z-index: 1052;
}

.modal-backdrop~.modal-backdrop {
  z-index: 1051;
}

* {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

.label-action {
  cursor: pointer;
}

.sidebar .logo, .off-canvas-sidebar .logo {
  padding: 0px 0px;
  text-align: center;
}

.sidebar[data-background-color="black"]:after, .sidebar[data-background-color="black"]:before, .off-canvas-sidebar[data-background-color="black"]:after, .off-canvas-sidebar[data-background-color="black"]:before {
  background-color: #212120;
}

.sidebar .nav li:not(.active) > a, .sidebar[data-background-color="black"] .nav li:not(.active) > a, .off-canvas-sidebar .nav li:not(.active) > a, .off-canvas-sidebar[data-background-color="black"] .nav li:not(.active)>a {
  color: #FFFFFF;
}

.sidebar .sidebar-wrapper > .nav p, .off-canvas-sidebar .sidebar-wrapper > .nav
p {
  font-weight: 400;
}

h5, .h5 {
  margin-bottom: 5px;
}

.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 5px;
}

.sidebar .sidebar-wrapper > .nav li > a, .off-canvas-sidebar .sidebar-wrapper > .nav li>a {
  padding-left:13px;
}

.btn {
  border-radius: 5px !important;
}

.btn-xs {
  padding: 2px 10px;
}

.small, small {
  font-size: 90%;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  vertical-align: top;
}

.card-user .image {
  border-radius: 4px 4px 0 0;
}

.changed-avatar, .default-avatar {
  position: absolute;
  top: 45px;
  left: 10px;
}

.default-avatar {
  left: 30px;
}

.chip {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  border-radius: 25px;
  background-color: #e3e3e3;
  font-size: 11px;
}

.chip_removed {
  cursor: default;
  background-color: #a9a9a9;
}

.chip img {
  float: left;
  margin-left: -10px;
  margin-right: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.btn-filterData {
  margin-top: 20px;
}

.table-filter label:before {
  display: none;
}
